body {
    font-family: 'Poppins', sans-serif;
    ;
    margin: 0%;
}

.half-donation {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;

    height: 400px;
    padding: 2%;

}

h1 {
    font-size: 50px;

}

.font-color {
    color: white;
    text-align: center;
}



.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}