body {
    font-family: 'Poppins', sans-serif;

    margin: 0%;
}

.half-donation {
    background-image: url(images/donation7.jpg);
    background-repeat: no-repeat;
    height: 400px;
    padding: 2%;
}

h1 {
    font-size: 50px;

}

.font-color {
    text-align: center;
    padding: 10px 280px;
    color: white;
}

.text {
    text-align: center;
    padding: 10px 350px;

}

.link-button {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.Specific {
    float: left;
    margin: 10px;
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgb(243, 237, 237);
}

.spec {
    float: left;
    margin: 10px;
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgb(250, 213, 213);
    border: 2px solid rgb(221, 90, 67);
}

.name03 {
    float: left;
    margin: 10px;
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgb(243, 237, 237);
}

.newso {
    float: left;
    margin: 10px;
    padding: 30px 25px;
    border-radius: 5px;
    background-color: rgb(243, 237, 237);
}

.add {
    float: left;
    margin: 10px;
    padding: 25px 25px;
    border-radius: 5px;
    background-color: rgb(243, 237, 237);
}

.align {
    text-align: center;
}

.text {

    text-align: center;
    padding: 10px 350px;
}

.side-box-1 {
    float: left;
    margin: 10px;
    padding: 20px 60px;
    width: 300px;
    height: 250px;
    background-color: rgb(220, 220, 248);
    border-radius: 5px;
}

.side-box-2 {
    float: left;
    margin: 10px;
    padding: 20px 60px;
    width: 300px;
    height: 250px;
    background-color: rgb(253, 197, 217);
    border-radius: 5px;
}

.side-box-3 {
    float: left;
    margin: 10px;
    padding: 20px 60px;
    width: 300px;
    height: 250px;
    background-color: rgb(250, 250, 226);
    border-radius: 5px;
}



.half {
    float: left;
    margin: 10px;
    padding: 10px 20px;
    width: 500px;
    height: 600px;
}

.chelck-me {
    text-decoration: none;
    background-color: tomato;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
}

.half-img {
    float: right;
    padding: 5%;
}

.last-test {
    text-align: center;
    padding: 20px 300px;
}

.last-text-2 {
    text-align: center;
    padding: 10px 300px;
}

#final h3 {
    font-family: 'Sansita Swashed', cursive;
    text-align: center;
    background-color: black;
    width: 1500px;
    height: 100px;
    color: rgb(226, 17, 17);

}

#clear-div {
    clear: both;
}

.box {
    height: 180px;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 220px;
    margin-right: 220px;

}

#email {
    background-color: rgb(126, 120, 120);

}

#Subscrible {
    background-color: brown;
}

footer p {
    text-align: center;
    font-size: 10px;
    color: white;
}